body{
    margin: 0px;
    
}

main, footer{
    margin: 0 22% 0 22%;
}


.writtenby{
    color: grey;
    font-size: 18px;
}

.background{
    background-color: rgb(11, 126, 219);
    margin: 0 15% 0 15%;
}

.pattern{
    background-image: url('img/pattern.png');
    background-size: contain;
}

h1{
    font-size: 45px;
    font-weight: 50px;
}
    
    
.logo{
    width: 20%;
    margin: 2% 0 0 10% ;
}
       
.tabella{
    border-collapse: collapse;
}
    
th {
    text-align: left;
    padding: 5px;
}
    
.tabletitle{
    background-color:rgb(14, 144, 184);
    color: white;
    padding: 0px;
}
    
tr{
    background-color: rgb(155, 209, 245) ;
}

.first{
    width: 200px;
}

.second{
    width: 200px;
}

#whiterow{
    background-color: white;
}
    
.footercolor{
    color: gray;
    font-size: 30px;
}

.footerphoto1{
    background-image: url('img/monitor.jpg');
    width: 250px;
    height: 200px;
}

.footerphoto2{
    background-image: url('img/graph.jpg');
    width: 250px;
    height: 200px;
}

.footerimagetext{
    color:white;
    font-size: 30px;
}
    


    




    
    
    

    
   